@import "./variables";

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 7rem;
  box-shadow: 0 0.3rem 0.6rem rgba($color-black, 0.15);

  &__left {
    width: 30%;

    &--image {
      display: flex;
      width: 70%;
      cursor: pointer;

      @include sm {
        width: 90%;
      }
      @include md {
        width: 90%;
      }
    }
  }
  &__center {
    display: flex;
    width: 40%;
    justify-content: center;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-right: 4rem;

    &--login {
      height: 4rem;
      width: 12rem;
      border-radius: 10rem;
      background-color: $color-blue-light;
      color: $color-gray-light;
      border: none;
      font-weight: 800;
      font-size: 1.4rem;
      outline: none;
      -webkit-appearance: none;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background-color: $color-gray-light;
        color: $color-blue-light;
        border: 2px solid $color-blue-light;
      }
    }

    &--cart {
      display: flex;
      margin-right: 1.6rem;
      align-self: center;
      height: 3rem;
      width: 3rem;
      cursor: pointer;
    }
  }
}
